<% include header%>				
<div class="productStage">

      <div class="botBorder clearFix">
            <div class="productImage">
                  <img src="images/374380-svetik.jpg" width="300x300">
                  <ul class="imageList">
                        <li><a href="#"><img src="images/374380-svetik.jpg" width="150x150"></a></li>
                        <li><a href="#"><img src="images/374380-svetik.jpg" width="150x150"></a></li>
                  </ul>
            </div>
            <div class="overview">
                  <h2>Thank you for your purchase!</h2>
                  <h3>Your order has been confirmed</h3>

                  <h3>Price: € <%= products.price %></h3>
                  <h3>Quantity: <%= products.quantity %></h3>
                  <h3>Producer: <%= products.seller_id %></h3>
                  <span class="description">
                        We will notify you when your basket is dispatched
                  </span>

                  <form action='/buy/confirmation/<%= products._id %>' method="POST" >

                        <button class ="btn btn-warning">Back</button>

                  </form>
            </div>     
      </div>
</div>
<% include footer %>