<!DOCTYPE HTML>

<html>
<head>
	<title>Vegetable Community</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="css/style.css"/>

</head>
<body>        
	<header>
		<img id="logo" src="images/grow.jpg" width="150x150">
	</header>

	<div class="folderTab clearFix">
		<div class="breadCrumbs">
			<a href="/">Home</a>
			<a href="/">Producer</a>
			<a href="/products">Product</a>
		</div>
	</div>